* {
    margin: 0;
    padding: 0;
    font-family: 'Hind Siliguri', sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}


header {
    width: 100%;
    height: 50px;
    background-color: #f8f9f8;
    display: flex;
    justify-content: space-between;
}

header .icon{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 20px;
    margin-left: 60px;
}

header .icon a {
    display: flex;
    transition: transform 1s;
}

header .icon a:hover {
    transform: translateY(-10px);
}

header {
    position: fixed;
}
.menu {
    /* display: inline-block;
    padding: 15px 20px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-right: 60px;
}

.menu > li a,
.menu > .taller a,
.menu > .menu_proyecto a{
    display: block;
    padding: 10px 20px;
}

.menu .taller a:hover,
.menu .menu_proyecto a:hover,
.menu .inicio a:hover,
.menu .taller a:hover,
.menu .menu_proyecto a:hover{
    border-bottom: 5px solid #52b9dd;
}

.menu .talleres,
.menu .proyecto {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s;
}

.menu .talleres li a,
.menu .proyecto li a{
    display: block;
    background-color: #f8f9f8;
    padding: 10px 20px;
    border-bottom: 1px solid #a4daed;
}

.menu li:hover .talleres,
.menu li:hover .proyecto {
    visibility: visible;
    opacity: 1;
}

main {
    padding-top: 50px;
}

.container { 
    background-color: #27282d;
    color: #f8f9f8;
    padding: 10px;
    text-align: center;

}

.container h1 {
    font-size: 40px;
    padding: 10px;
}

#temas {
    font-weight: bold;
}

.container p {
    margin: 17px 0 20px 0;
}

.cards {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
}

.cards a{
    border: 2px solid #f8f9f8;
    background-color: #52b9dd;
}

.cards a:hover,
.cards a .card:hover{
    background-color: #f8f9f8;
    color: #27282d;
}

.cards .card {
    transform: translateY(-10px);
}

.cards a .card:hover img {
    filter: invert(0);
}

.card {
    padding: 10px;
    text-align: center;
    color: white;
}

.card h2 {
    height: 90px;
}


.card>img {
    width: 20%;
    padding: 10px;
    color: #f8f9f8;
    filter: invert(1);
    
}




