* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333944;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    margin: 50px 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "promedio promedio"
                         "mediana moda";
}

.card {
    background-color: rgba(29, 32, 43, .8);
    border-radius: 10px;
    padding: 20px;
}


.promedio {
    grid-area: promedio;
}

.mediana {
    grid-area: mediana;
}

.moda {
    grid-area: moda;
}

input {
    border: none;
}

button {
    background-color: #f54b64;
    color: #fff;
    border: 1px solid #333944;
    padding: 10px;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

button:active {
    border: 1px solid #fff;
    color: #333944;
}

.promedio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "titulo titulo"
        "armetico ponderado";
}

.titulo-promedio {
    grid-area: titulo;
    text-align: center;
    padding: 10px 0 20px 0;
    font-size: 30px;
}

.aritmetico {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.aritmetico h3,
.ponderado h3,
.mediana h2 {
    padding: 10px;
    font-size: 25px;
    text-align: center;
    margin: 10px;
}

.aritmetico .formulario,
.mediana .formulario {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aritmetico .formulario label,
.ponderado .formulario label,
.mediana .formulario {
    margin: 0 0 5px 0;
}

.aritmetico .formulario input,
.ponderado .formulario input,
.mediana .formulario input {
    width: 20%;
    margin: 0 0 20px 0;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
}

.aritmetico .formulario button,
.mediana .formulario button {
    width: 30%;
    margin: 10px auto;
}

.ponderado h3 {
    margin: 10px;
}

.ponderado .formulario {
    display: grid;
    grid-gap: 20px;

    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "valores peso"
        "boton boton";
}

.valores-poderados {
    grid-area: valores;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.peso-ponderado {
    grid-area: peso;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calcular-ponderado {
    grid-area: boton;
    width: 30%;
    margin: 10px auto;
}

.mediana {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

